<!-- <div
  style="
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-x: hidden;
  "
> -->
<div class="top-div">
  <input placeholder="Enter Course Name.." [(ngModel)]="search" />
  <button (click)="searchCourse()">Search</button>
</div>
<div class="course-list-container">
  @for(x of filteredData;track x) {
  <!-- <mat-card class="container">
      <div>
        <img src="{{ x.imageurl }}" width="100%" height="340px" />
        <div class="course-and-info">
          <h1>{{ x.coursename }}</h1>
  
          <button
            mat-icon-button
            aria-label="Details of course"
            routerLink="viewCourses/{{ id }}"
          >
            <mat-icon>info</mat-icon>
          </button>
        </div>
        <div>{{ x.description }}</div>
        <div>${{ x.price }}</div>
      </div>
    </mat-card> -->

  <mat-card class="course-container">
    <img src="{{ x.imageurl }}" alt="{{ x.name }}" class="course-poster" />
    <mat-card-content>
      <div class="course-spec">
        <h2 class="course-title">
          {{ x.name }}
          <button
            mat-icon-button
            aria-label="Toggle summary"
            (click)="toggleSummary()"
          >
            <mat-icon>{{
              show ? "keyboard_arrow_up" : "keyboard_arrow_down"
            }}</mat-icon>
          </button>

          <button
            mat-icon-button
            aria-label="Details of course"
            routerLink="/viewCourses/{{ x.coursename }}"
          >
            <mat-icon>info</mat-icon>
          </button>
          <router-outlet></router-outlet>
        </h2>
        <p class="course-rating">${{ x.price }}</p>
      </div>

      @if(show){
      <p class="course-summary">{{ x.description }}</p>
      }

      <div class="action-buttons-container">
        <div></div>
      </div>
    </mat-card-content>
  </mat-card>

  }
</div>
<!-- </div> -->
