.container{
    height:100vh;
    width:100vw;
}
.minicontainer{
    height:50vh;
    width:50vh;
    background-color: aliceblue;
    margin:10em auto;
    display:flex;
    flex-direction:column;
}
.add-movie-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  
    max-width: 400px;
    margin: 16px auto;
  }