.greytopper{
    align-items:center;
    display:flex;
    justify-content:space-around;
    margin-top:2em;
    height:30vh;
    width:100%;
    background:grey;
    z-index:0;
  }
  
  .greytopper img{
    margin-top:8em;
    z-index:1;
    width:20%;
    height:100%;
    padding:1em;
    object-fit:contain;
  }
  